DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/checkpointone
GOOGLE_CLIENT_ID=472468234625-thmm0i01f0fh5790s7nssm5iccid5kk1.a
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/callback/google
GOOGLE_AUTHORIZATION_ENDPOINT=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_ENDPOINT=https://oauth2.googleapis.com/token
GOOGLE_JWKS_URL=https://www.googleapis.com/oauth2/v3/certs
GOOGLE_ISSUER=https://accounts.google.com
REDIS_URL=redis://localhost:6379/0
ISSUER=http://localhost:5000
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
